openapi: 3.1.0
info:
  title: StatuteRates Static JSON and CSV API
  version: "1.2.0"
  description: >
    Free, read-only access to StatuteRates' provenance-tracked statutory, judgment, tax, and
    late-payment interest-rate dataset. Every endpoint is a prebuilt file served from a CDN and
    regenerated by the validated refresh pipeline. Every observation carries effective_date,
    source_url, retrieved_at, confidence, and method. Values currently in force are selected as of
    the dataset snapshot; an officially announced future period remains separately available as
    latest_published, in history, and through /api/v1/upcoming.json. The narrower
    /api/v1/history-coverage.json endpoint lists only historical lookups whose date meaning, legal
    branch, source provenance, coverage boundary, and known gaps have passed a separate release
    review.
  license:
    name: StatuteRates data and API terms
    url: https://statuterates.com/terms/#data-api-license
externalDocs:
  description: StatuteRates API documentation
  url: https://statuterates.com/api/
servers:
  - url: https://statuterates.com
    description: Production CDN
paths:
  /api/v1/index.json:
    get:
      operationId: getServiceIndex
      summary: Service index — links to every endpoint + counts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceIndex"
  /api/v1/meta.json:
    get:
      operationId: getMeta
      summary: Dataset metadata, freshness, and cited sources
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaEnvelope"
  /api/v1/metrics.json:
    get:
      operationId: getMetrics
      summary: List of metric names present in the dataset
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsEnvelope"
  /api/v1/entities.json:
    get:
      operationId: getEntities
      summary: Collection index — all entities with current and latest-published values
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitiesEnvelope"
  /api/v1/latest.json:
    get:
      operationId: getLatest
      summary: Flat list of every value currently in force — the one-call integration
      description: No observation whose effective date is after current_as_of appears here.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentValuesEnvelope"
  /api/v1/upcoming.json:
    get:
      operationId: getUpcoming
      summary: Officially announced observations that are not yet in force
      description: Every observation here has an effective date after current_as_of and is never presented as current.
      responses:
        "200":
          description: OK; the observations array can be empty.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpcomingValuesEnvelope"
  /api/v1/history-coverage.json:
    get:
      operationId: getHistoricalCoverage
      summary: Released historical lookup series and their verified coverage boundaries
      description: >
        Lists only code-reviewed historical lookup series. Each row explains what the input date
        means, which legal branch the series describes, its first and last verified dates, and any
        interval the lookup must refuse. Historical observations remain in the corresponding
        entity JSON endpoint.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryCoverageEnvelope"
  /api/v1/entity/{slug}.json:
    get:
      operationId: getEntity
      summary: One entity — current values, latest-published values, and all recorded observations
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
          description: URL-safe entity slug (see entities.json for the list).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityEnvelope"
        "404":
          description: No such entity (the file does not exist on the CDN)
  /api/v1/entity/{slug}.csv:
    get:
      operationId: getEntityCsv
      summary: One entity's recorded observations as CSV (spreadsheet-ready, provenance columns included)
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
      responses:
        "200":
          description: OK
          content:
            text/csv:
              schema: { type: string, minLength: 1 }
        "404":
          description: No such entity
components:
  schemas:
    ServiceIndex:
      type: object
      additionalProperties: false
      required: [api_version, dataset, description, generated_at, endpoints, current_as_of, counts]
      properties:
        api_version: { type: string, const: v1 }
        dataset: { type: string, minLength: 1 }
        description: { type: [string, "null"] }
        generated_at: { type: string, format: date-time }
        current_as_of: { type: string, format: date }
        endpoints:
          type: object
          additionalProperties: false
          required: [meta, entities, latest, upcoming, metrics, history_coverage, entity, entity_csv, documentation, openapi, llms, llms_full]
          properties:
            meta: { type: string, const: "/api/v1/meta.json" }
            entities: { type: string, const: "/api/v1/entities.json" }
            latest: { type: string, const: "/api/v1/latest.json" }
            upcoming: { type: string, const: "/api/v1/upcoming.json" }
            metrics: { type: string, const: "/api/v1/metrics.json" }
            history_coverage: { type: string, const: "/api/v1/history-coverage.json" }
            entity: { type: string, const: "/api/v1/entity/{slug}.json" }
            entity_csv: { type: string, const: "/api/v1/entity/{slug}.csv" }
            documentation: { type: string, const: "/api/" }
            openapi: { type: string, const: "/openapi.yaml" }
            llms: { type: string, const: "/llms.txt" }
            llms_full: { type: string, const: "/llms-full.txt" }
        counts:
          type: object
          additionalProperties: false
          required: [entities, observations, historical_lookup_series]
          properties:
            entities: { type: integer, minimum: 1 }
            observations: { type: integer, minimum: 1 }
            historical_lookup_series: { type: integer, minimum: 0 }

    SourceRecord:
      type: object
      additionalProperties: false
      required: [id, name, publisher, home_url, license, robots_status, retrieved_at]
      properties:
        id: { type: string, minLength: 1 }
        name: { type: string, minLength: 1 }
        publisher: { type: string, minLength: 1 }
        home_url: { type: string, format: uri, pattern: "^https://" }
        license: { type: string, minLength: 1 }
        robots_status: { type: string, minLength: 1 }
        retrieved_at: { type: string, format: date-time }

    DatasetMeta:
      type: object
      additionalProperties: false
      required: [title, description, version, update_cadence, attribution, license, sample_query, disclaimer, generated_at, entity_count, observation_count, metrics, sources]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string, minLength: 1 }
        version: { type: string, minLength: 1 }
        update_cadence: { type: string, minLength: 1 }
        attribution: { type: string, minLength: 1 }
        license: { type: string, minLength: 1 }
        sample_query: { type: string, minLength: 1 }
        disclaimer: { type: string, minLength: 1 }
        generated_at: { type: string, format: date-time }
        entity_count: { type: integer, minimum: 1 }
        observation_count: { type: integer, minimum: 1 }
        metrics:
          type: array
          minItems: 1
          uniqueItems: true
          items: { type: string, minLength: 1 }
        sources:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/SourceRecord" }

    ObservationFields:
      type: object
      description: Shared fields for a single value with full provenance.
      required: [metric, value, value_text, unit, effective_date, source_id, source_url, retrieved_at, confidence, method, notes]
      properties:
        metric: { type: string, minLength: 1, description: "e.g. the primary metric name" }
        value: { type: [number, "null"], description: "machine-usable numeric value" }
        value_text: { type: [string, "null"], description: "human display / ranges" }
        unit: { type: string, const: percent_per_annum }
        effective_date: { type: string, format: date, description: "date the value took effect" }
        source_id: { type: string, minLength: 1 }
        source_url: { type: string, format: uri, pattern: "^https://", description: "exact page the value came from" }
        retrieved_at: { type: string, format: date-time }
        confidence: { type: string, enum: [high, medium, low] }
        method: { type: [string, "null"] }
        notes: { type: [string, "null"] }
      anyOf:
        - properties:
            value: { type: number }
        - properties:
            value_text: { type: string, minLength: 1 }

    Observation:
      type: object
      allOf:
        - $ref: "#/components/schemas/ObservationFields"
      unevaluatedProperties: false

    FlatObservation:
      type: object
      allOf:
        - $ref: "#/components/schemas/ObservationFields"
        - type: object
          required: [entity, entity_name]
          properties:
            entity: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
            entity_name: { type: string, minLength: 1 }
      unevaluatedProperties: false

    ObservationMap:
      type: object
      minProperties: 1
      additionalProperties: { $ref: "#/components/schemas/Observation" }

    HistoryMap:
      type: object
      minProperties: 1
      additionalProperties:
        type: array
        minItems: 1
        items: { $ref: "#/components/schemas/Observation" }

    Entity:
      type: object
      additionalProperties: false
      required: [slug, name, entity_type, jurisdiction, region, locale, metrics, generated_at, latest, current, latest_published, current_as_of, metadata, history]
      properties:
        slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        name: { type: string, minLength: 1 }
        entity_type: { type: string, minLength: 1 }
        jurisdiction: { type: string, minLength: 1 }
        region: { type: string, minLength: 1 }
        locale: { type: [string, "null"] }
        metrics:
          type: array
          minItems: 1
          uniqueItems: true
          items: { type: string, minLength: 1 }
        generated_at: { type: string, format: date-time }
        latest:
          description: Backwards-compatible alias for current; never contains a future-effective observation.
          $ref: "#/components/schemas/ObservationMap"
        current:
          description: Values in force on current_as_of.
          $ref: "#/components/schemas/ObservationMap"
        latest_published:
          description: Newest published values, which can include an officially announced future period.
          $ref: "#/components/schemas/ObservationMap"
        current_as_of: { type: string, format: date }
        metadata:
          type: object
          description: Series-specific legal and calculation metadata; keys vary by jurisdiction.
        history: { $ref: "#/components/schemas/HistoryMap" }

    EntitySummary:
      type: object
      additionalProperties: false
      required: [slug, name, entity_type, jurisdiction, region, latest, current, latest_published, current_as_of]
      properties:
        slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        name: { type: string, minLength: 1 }
        entity_type: { type: string, minLength: 1 }
        jurisdiction: { type: string, minLength: 1 }
        region: { type: string, minLength: 1 }
        latest: { $ref: "#/components/schemas/ObservationMap" }
        current: { $ref: "#/components/schemas/ObservationMap" }
        latest_published: { $ref: "#/components/schemas/ObservationMap" }
        current_as_of: { type: string, format: date }

    MetricsCollection:
      type: object
      additionalProperties: false
      required: [metrics]
      properties:
        metrics:
          type: array
          minItems: 1
          uniqueItems: true
          items: { type: string, minLength: 1 }

    EntityCollection:
      type: object
      additionalProperties: false
      required: [count, current_as_of, entities]
      properties:
        count: { type: integer, minimum: 1 }
        current_as_of: { type: string, format: date }
        entities:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/EntitySummary" }

    CurrentValuesCollection:
      type: object
      additionalProperties: false
      required: [count, current_as_of, observations]
      properties:
        count: { type: integer, minimum: 1 }
        current_as_of: { type: string, format: date }
        observations:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/FlatObservation" }

    UpcomingValuesCollection:
      type: object
      additionalProperties: false
      required: [count, current_as_of, observations]
      properties:
        count: { type: integer, minimum: 0 }
        current_as_of: { type: string, format: date }
        observations:
          type: array
          items: { $ref: "#/components/schemas/FlatObservation" }

    OfficialAuthority:
      type: object
      additionalProperties: false
      required: [label, url]
      properties:
        label: { type: string, minLength: 1 }
        url: { type: string, format: uri, pattern: "^https://" }

    CoverageGap:
      type: object
      additionalProperties: false
      required: [start, end, reason]
      properties:
        start: { type: string, format: date }
        end: { type: string, format: date }
        reason: { type: string, minLength: 1 }

    HistoricalCoverageSeries:
      type: object
      additionalProperties: false
      required:
        - entity_slug
        - label
        - metric
        - usage
        - calculation_supported
        - input_meaning
        - branch_scope
        - selection_rule
        - coverage_note
        - coverage_start
        - coverage_end
        - history_count
        - gaps
        - source_url
        - official_authorities
        - links
      properties:
        entity_slug: { type: string, pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$" }
        label: { type: string, minLength: 1 }
        metric: { type: string, const: annual_rate }
        usage: { type: string, const: reference_only }
        calculation_supported: { type: boolean, const: false }
        input_meaning: { type: string, minLength: 1, description: "Legal/date meaning of the requested lookup date." }
        branch_scope: { type: string, minLength: 1, description: "Branch represented and material exclusions." }
        selection_rule: { type: string, minLength: 1 }
        coverage_note: { type: string, minLength: 1 }
        coverage_start: { type: string, format: date }
        coverage_end: { type: string, format: date, description: "Last date released for lookup; never after current_as_of." }
        history_count: { type: integer, minimum: 2 }
        gaps:
          type: array
          items: { $ref: "#/components/schemas/CoverageGap" }
        source_url: { type: string, format: uri, pattern: "^https://" }
        official_authorities:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/OfficialAuthority" }
        links:
          type: object
          additionalProperties: false
          required: [page, entity_json, entity_csv, historical_lookup]
          properties:
            page: { type: string, format: uri-reference, pattern: "^/rates/[a-z0-9-]+/$" }
            entity_json: { type: string, format: uri-reference, pattern: "^/api/v1/entity/[a-z0-9-]+\\.json$" }
            entity_csv: { type: string, format: uri-reference, pattern: "^/api/v1/entity/[a-z0-9-]+\\.csv$" }
            historical_lookup: { type: string, format: uri-reference, pattern: "^/calculators/historical-rate-lookup/\\?series=[a-z0-9-]+$" }

    HistoricalCoverageCollection:
      type: object
      additionalProperties: false
      required: [count, current_as_of, series]
      properties:
        count: { type: integer, minimum: 1 }
        current_as_of: { type: string, format: date }
        series:
          type: array
          items: { $ref: "#/components/schemas/HistoricalCoverageSeries" }

    Envelope:
      type: object
      required: [api_version, generated_at, attribution, license, data]
      properties:
        api_version: { type: string, const: v1 }
        generated_at: { type: string, format: date-time }
        attribution: { type: [string, "null"] }
        license: { type: [string, "null"] }
        data: {}

    MetaEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/DatasetMeta" }
      unevaluatedProperties: false

    MetricsEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/MetricsCollection" }
      unevaluatedProperties: false

    EntitiesEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/EntityCollection" }
      unevaluatedProperties: false

    CurrentValuesEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/CurrentValuesCollection" }
      unevaluatedProperties: false

    UpcomingValuesEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/UpcomingValuesCollection" }
      unevaluatedProperties: false

    HistoryCoverageEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/HistoricalCoverageCollection" }
      unevaluatedProperties: false

    EntityEnvelope:
      type: object
      allOf:
        - $ref: "#/components/schemas/Envelope"
        - type: object
          properties:
            data: { $ref: "#/components/schemas/Entity" }
      unevaluatedProperties: false
